.crowd {
    background: url(../assets//crowd.png) center bottom repeat-x;
}
#turntable {
    width: 700px;
    height: 500px;
    background: radial-gradient(#fff 50%,#abbaab);
    display: flex;
    border-radius: 15px;

    --main-bg-color: #d7ded7;
}

#turntable .left {
    width: 455px;
    height: 500px;
}

#turntable .left .cdholder {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: #000;
    position: relative;
    top: 50px;
    left: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
}

#turntable .left .cdholder #middle-dot {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
}

#turntable .left .cdholder .brand.hidden {
    visibility: hidden;
}

#turntable .left #playbtn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #000;
    position: relative;
    top: 25px;
    left: 25px;
}

#turntable .right .topcircle {
    background: radial-gradient(#fff 30%,#abbaab);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: relative;
    top: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 2px solid
#a6a3a3;
box-shadow: 0 0 0 2px
white inset;
}

#turntable .right .topcircle .palito {
    background: linear-gradient(to right, var(--main-bg-color), #e9e9e9, var(--main-bg-color)); 
    width: 20px;
    height: 380px;
    position: relative;
    top: 0px;
}

.aguja {
    width: 30px;
    height: 50px;
    border-radius: 15px;
    background: black;
    position: relative;
    top: 355px;
    left: -5px;
    box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.5);
}

.peso {
    width: 50px;
    height: 30px;
    background: var(--main-bg-color);
    background: linear-gradient(to right, var(--main-bg-color), #e9e9e9, var(--main-bg-color)); 
    border-radius: 15px;
    position: relative;
    top: -55px;
    left: -15px;
    border-top: 7px solid rgba(0, 0, 0, 0.6);
}

.slider-parent {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.slider {
    height: 200px;
    position: relative;
    background: #d7ded7;
    width: 40px;
    margin: 0 0 50px 0;
    box-shadow: 0 0 0 15px #00000017 inset, 2px 1px 0 0 #0000003b;
    border-radius: 50px;
}