
body {
    background: #fff;
}

.container {
    display: flex;
    flex-direction: row;
}

#portada {
    width: 400px;
    height: 400px;
    background: #000;
    background: url(../assets/wutang-cover.jpg);
    background-size: contain;
    z-index: 1;
}

#portada.disco-fuera + #disco {
    transform: translateX(0);
}

#portada.disco-fuera {
    animation: example 5s linear 3s 1;
    animation-fill-mode: forwards;
}

@keyframes example {
    25% { transform: translateY(-500px); }
    90% { width: 0px; height: 0 ;}
    100% { transform: translateY(-500px); width: 0px; height: 0 ;}
  }

#disco {
    width: 396px;
    height: 396px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0) 100%), repeating-radial-gradient(rgba(42, 41, 40, 0.31373), rgba(42, 41, 40, 0.31373) 4px, rgba(173, 169, 160, 0.31373) 5px, rgba(42, 41, 40, 0.31373) 6px), url(../assets/wutang.png) no-repeat center center, #000;
    background-size: 100% 100%, 100% 100%, 50% 50%, 100% 100%;
    transform: translateX(-330px);
    transition: 3s linear;
}

#disco .inner {
    width: 200px;
    height: 200px;
    background: #00000050;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#disco .inner .cutout {
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
}
